@{
    ViewBag.Title = "Sobre nosotros";
}

<h2 class="titulo_about">@ViewBag.Title</h2>

<p  class="seccion_about">
	En esta sección de la página, es complaciente compartir historia y valores fundamentales que guían con excelencia el compromiso en un
	mundo de ventas de vehículos. Desde el inicio, se busca ser mucho más que plataforma de compras, siendo el destino preferido de los
	entusiastas de los vehículos. Además, buscan una experiencia única y personalizada. La dedicación hacia satisfacción de usuarios es reflejado
	en cada aspecto del sistema, desde selección de vehículos de calidad hasta un servicio al cliente excepcional.
</p>
<p class="seccion_about">
	La pasión impulsada de los vehículos y el deseo de establecer relaciones duraderas con usuarios es indispensable porque se basan en
	confianza y transparencia. Se espera brindar un servicio y una experiencia gratificante mientras se explora y descubre todas las
	funcionalidades que tiene el sistema.
</p>

<div>
	<a class="estilo_boton_lista btn btn-secondary" href="@Url.Action("Index", "Home")">
		<i class="fa fa-undo" aria-hidden="true"></i>


	</a>
</div>
